@font-face {
	font-family: 'Iosevka Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: normal;
	src: url(" {{ '/assets/fonts/iosevka/woff2/iosevka-regular.woff2' | url }}) format('woff2'), url(" {{ '/assets/fonts/iosevka/ttf/iosevka-regular.ttf' | url }}) format('truetype');
}

@font-face {
	font-family: 'Iosevka Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	font-style: normal;
	src: url(" {{ '/assets/fonts/iosevka/woff2/iosevka-extended.woff2' | url }}) format('woff2'), url(" {{ '/assets/fonts/iosevka/ttf/iosevka-extended.ttf' | url }}) format('truetype');
}

@font-face {
	font-family: 'Iosevka Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: italic;
	src: url(" {{ '/assets/fonts/iosevka/woff2/iosevka-italic.woff2' | url }}) format('woff2'), url(" {{ '/assets/fonts/iosevka/ttf/iosevka-italic.ttf' | url }}) format('truetype');
}

@font-face {
	font-family: 'Iosevka Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	font-style: italic;
	src: url(" {{ '/assets/fonts/iosevka/woff2/iosevka-extended-italic.woff2' | url }}) format('woff2'), url(" {{ '/assets/fonts/iosevka/ttf/iosevka-extended-italic.ttf' | url }}) format('truetype');
}

@font-face {
	font-family: 'Iosevka Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: normal;
	src: url(" {{ '/assets/fonts/iosevka/woff2/iosevka-bold.woff2' | url }}) format('woff2'), url(" {{ '/assets/fonts/iosevka/ttf/iosevka-bold.ttf' | url }}) format('truetype');
}

@font-face {
	font-family: 'Iosevka Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	font-style: normal;
	src: url(" {{ '/assets/fonts/iosevka/woff2/iosevka-extended-bold.woff2' | url }}) format('woff2'), url(" {{ '/assets/fonts/iosevka/ttf/iosevka-extended-bold.ttf' | url }}) format('truetype');
}

@font-face {
	font-family: 'Iosevka Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: italic;
	src: url(" {{ '/assets/fonts/iosevka/woff2/iosevka-bold-italic.woff2' | url }}) format('woff2'), url(" {{ '/assets/fonts/iosevka/ttf/iosevka-bold-italic.ttf' | url }}) format('truetype');
}

@font-face {
	font-family: 'Iosevka Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	font-style: italic;
	src: url(" {{ '/assets/fonts/iosevka/woff2/iosevka-extended-bold-italic.woff2' | url }}) format('woff2'), url(" {{ '/assets/fonts/iosevka/ttf/iosevka-extended-bold-italic.ttf' | url }}) format('truetype');
}
