<!DOCTYPE html>
<html lang="en">
  <head>
    {% block head %}
      {% include "head.njk" %}
    {% endblock %}
  </head>
  <body>
    <wa-page>
      {% block navigation %}
        <aside slot="navigation">
          {%- for category in collections.docsByCategory -%}
            {%- if category.slug == category %}
              <ul>
                {% for doc in category.pages %}
                  <li>
                    <a href="{{ doc.url }}">{{ doc.data.title }}</a>
                  </li>
                {% endfor %}
              </ul>
            {%- endif -%}
          {%- endfor -%}
        </aside>
      {% endblock %}
      <main class="content">
        {{ content | safe }}
      </main>

      <footer slot="main-footer">
        <nav class="pager">
          {% if prevDoc %}<a href="{{ prevDoc.url }}">&larr; {{ prevDoc.data.title }}</a>{% endif %}
          {% if nextDoc %}<a href="{{ nextDoc.url }}">{{ nextDoc.data.title }} &rarr;</a>{% endif %}
        </nav>
      </footer>
    </wa-page>
  </body>
</html>
