<!DOCTYPE html>
<html lang="en">
  <head>
    {% block head %}
      {% include "head.njk" %}
    {% endblock %}
  </head>
  <body>
    <wa-page style="--header-height: 99px;">
      {% block header %}
        {% include "header.njk" %}
      {% endblock %}
      {% block navigation %}
        {% include "sidebar.njk" %}
      {% endblock %}
      <main class="content">
        {% block heading %}
        {% endblock %}
        {{ content | safe }}
      </main>

      <footer slot="main-footer">
      </footer>
    </wa-page>

    {# Pagefind #}
    <script>
      import("/assets/vendor/pagefind/ui/npm_dist/mjs/component-ui.mjs");
    </script>
  </body>
</html>
