<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Downflow</title>

<style>
  .content { max-width: 1000px; margin: 0 auto; }

  wa-page::part(drawer__header-actions) {
    align-self: center;
  }
</style>

{# Layers #}
<script type="module" src="{{ "/assets/vendor/webawesome/dist-cdn/webawesome.ssr-loader.js" | url }}"></script>

{% include "color-switcher-js.njk" %}

<style>
  {% include "styles.css" %}
</style>

<script type="module" src="{{ "/assets/js/bundle.js" | url }}"></script>
<link rel="stylesheet" href="{{ "/assets/js/bundle.css" | url }}">
