<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="{{ description or "Let your state flow" }}"></meta>
<title>Downflow</title>
<script type="importmap">
  {
    "imports": {
      "downflow": "{{ "/assets/bundles/downflow.js" | url }}"
    }
  }
</script>

<link rel="preconnect" href="https://ka-f.fontawesome.com">

<link rel="icon" type="image/png" href="{{ "/assets/images/water-dude.png" | url }}">

{% include "og-image.njk" %}

<style>
  {% include "styles.css" %}
</style>
<style id="critical-css">
  {{ criticalCSS | safe }}
</style>

<script type="module" src="{{ "/assets/bundles/index.js" | url }}"></script>
<link rel="stylesheet" href="{{ "/assets/bundles/fonts.css" | url }}" media="print" onload="this.media='all'">

{% include "color-switcher-js.njk" %}
