<div slot="header" class="header">
  <div style="display: flex; gap: 0.5em; align-items: center;">
    <wa-button appearance="plain" data-toggle-nav style="margin-bottom: -0.5lh;">
      <wa-icon name="hamburger"></wa-icon>
    </wa-button>
    {% include "logo.njk" %}
  </div>

  <div style="display: flex; gap: 1em; align-items: center;">
    {% include "pagefind.njk" %}
    {% include "color-switcher.njk" %}
  </div>
</div>

