<div slot="header" class="header">
  <div style="display: flex; gap: 0.5em; align-items: baseline;">
    <wa-button appearance="plain" data-toggle-nav style="margin-bottom: -0.5lh;">
      <wa-icon name="hamburger"></wa-icon>
    </wa-button>
    {% include "logo.njk" %}
    <span class="wa-body-s desktop-only" style="font-family: var(--pixel-font);">{{ version }}</span>
  </div>

  <div class="desktop-only" style="display: flex; gap: 2rem; align-items: center; margin-inline-start: auto;">
    {% for category in docCategories(collections.docs) %}
    <a href="{{ "/docs/{{ category }}" | url }}>{{ category | titleize }}</a>
    {% endfor %}
  </div>

  <div style="display: flex; gap: 1em; align-items: center;">

    {% include "pagefind.njk" %}
  </div>
</div>

