  <!-- Open Graph / Facebook -->
  <meta property="og:type" content="website" />
  <meta property="og:url" content="{{ this.page.url | url }}" />
  <meta property="og:title" content="{{ title or "Downflow" }}" />
  <meta property="og:description" content="{{ description or "Let your state flow" }}" />
  <meta property="og:image" content="{{ "/assets/images/og-image.png" | url }}" />
  <meta property="og:image:width" content="1200" />
  <meta property="og:image:height" content="630" />
  <meta property="og:image:alt" content="Image of downflow's homepage with a water droplet and text that says 'let you state flow. Reactive DOM updates that don't drive a steamroller through your DOM'" />
  <meta property="og:site_name" content="Downflow" />

  <!-- Twitter -->
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:url" content="{{ this.page.url | url }}" />
  <meta name="twitter:title" content="{{ title or "Downflow" }}" />
  <meta name="twitter:description" content="{{ description or "Let your state flow" }}" />
  <meta name="twitter:image" content="{{ "/assets/images/og-image.png" | url }}" />
  <meta name="twitter:image:alt" content="Image of downflow's homepage with a water droplet and text that says 'let your state flow. Reactive DOM updates that don't drive a steamroller through your DOM'" />
