{% set pagination = konnors_pagination %}

<div class="pagination">
  {% if pagination.previous_page %}
    <a href="{{ pagination.previous_page.url }}" class="pagination-link pagination-previous">
      <small><wa-icon name="arrow-left"></wa-icon> Previous Page</small>
      <br>
      <span>{{ pagination.previous_page.data.title }}</span>
    </a>
  {% else %}
    <div></div>
  {% endif %}

  {% if pagination.next_page %}
    <a href="{{ pagination.next_page.url }}" class="pagination-link pagination-next">
      <small>Next Page <wa-icon name="arrow-right"></wa-icon></small>
      <br>
      <span>{{ pagination.next_page.data.title }}</span>
    </a>
  {% else %}
    <div></div>
  {% endif %}
</div>
