<h2 slot="navigation-header" style="margin: 0;">
  {% include "logo.njk" %}
  <span class="wa-body-s" style="font-family: var(--pixel-font);">{{ version }}</span>
</h2>

<aside slot="navigation">
  <div class="color-switch-mobile" style="align-self: center;">
    {% include "color-switcher.njk" %}
  </div>
  {%- for docCategory in docCategories(collections.docs) -%}
    <wa-details open summary="{{ docCategory | titleize }}">
      <ol
        {% if category == docCategory %}
          aria-current="true"
        {% endif %}
        style="list-style: none;"
      >
        {%- for doc in getCollectionForCategory(docCategory, collections.docs) -%}
          <li>
            <a
              href="{{ doc.url | url }}"
              {% if doc.url == page.url %}
                aria-current="page"
              {% endif %}
            >
              {{ doc.data.title }}
            </a>
          </li>
        {%- endfor -%}
      </ol>
    </wa-details>
  {%- endfor -%}
</aside>

<footer slot="navigation-footer">
  <wa-divider></wa-divider>
  <div style="display: flex; justify-content: center;">
    <a class="icon-link" href="https://github.com/konnorrogers/downflow" target="_blank" style="font-size: 36px;">
      <wa-icon name="github" family="brands"></wa-icon>
      <span class="wa-visually-hidden">Open in GitHub</span>
    </a>
  </div>
</footer>
